.block-section {
    padding-top: 25px;
    padding-left: 25px;
}

.block-users {
    font-weight: 700;
    color: #36454F;
    margin-bottom: 15px;
}

.block-content {
    font-size: small;
    margin-bottom: 15px;
    color: #36454F;
}

.block-input {
    position: relative;
    display: inline-block;
}

.block-input input{
    height: 32px;
    width: 370px;
    border-width: 1px;
    border-style: solid;
    border-color: rgb(192, 192, 192);
    border-radius: 7px;
    outline: none;
    padding-left: 20px;
    padding-right: 40px;
}

.search-icon {
    position: absolute;
    right: 8px;
    color: #36454F;
    top: 50%;
    transform: translateY(-50%);
}

.block-list {
    font-size: 15px;
    font-weight: 500;
    margin-top: 15px;
    margin-bottom: 25px;
    color: #36454F;
}