.password {
    padding-left: 25px;
}

.change-password {
    padding-top: 23px;
    font-weight: 700;
    color: #36454F;
    margin-bottom: 20px;
}

.password-input {
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
    position: relative;
}

.password-input .password-input-icon {
    position: absolute;
    left: 10px;
    bottom: 2px;
    transform: translateY(-50%);
    color: rgba(0, 0, 0, 0.3);
    font-size: .95rem;
}

.password-input .password-visibility {
    position: absolute;
    top: 43px;
    right: 390px;
    transform: translateY(-50%);
    color: rgba(0, 0, 0, 0.3);
    font-size: .95rem;
}

.password-input label {
    padding-bottom: 10px;
    font-size: small;
    font-weight: 500;
}

.password-input input {
    height: 32px;
    width: 400px;
    border-width: 1px;
    border-style: solid;
    border-color: rgb(192, 192, 192);
    border-radius: 7px;
    outline: none;
    padding-left: 40px;
    padding-right: 40px;
}

.forgot-password p{
    font-size: small;
    margin-bottom: 15px;
    color: #2979FF;
    font-weight: 500;
    cursor: pointer;
    display: inline-block !important;
}

.save-button button{
    cursor: pointer;
    border: none;
    color: white;
    background-color: #2872f4;
    width: 70px;
    height: 33px;
    border-radius: 7px;
    margin-left: 330px;
}