@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&family=Poppins:wght@300;600&family=Roboto:wght@100;300;400;500;700;900&family=Rubik:wght@400;500;700&display=swap');

body {
    font-family: 'Roboto', sans-serif;
}

.signinpage {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
}

.signinsection-heading h1 {
    font-weight: 700;
    color: rgba(0, 0, 0, 0.7);
}

.signinsection-heading p {
    font-size: .8rem;
}

.signin-input {
    border-color: white;
    height: 1px;
    width: 80%;
    border-radius: 0.75em;
    padding: 1.5em;
}

.signinform-cover {
    width: 30em;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

.signintop-section {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    gap: 3rem;
}

.signindivider {
    display: flex;
    align-items: center;
}

.signindivider hr {
    width: 8rem;
    margin: 0rem 1rem;
}

.signinform-input {
    width: 100%;
    display: flex;
    justify-content: center;
    position: relative;
}

.signinform-input .icon {
    position: absolute;
    left: 12%;
    top: 50%;
    transform: translateY(-50%);
    color: rgba(0, 0, 0, 0.3);
    font-size: .95rem;
}

.signinform-input .visibility {
    position: absolute;
    right: 13%;
    top: 50%;
    transform: translateY(-50%);
    color: rgba(0, 0, 0, 0.3);
    font-size: .95rem;
}

.form-input input::placeholder {
    font-size: .8rem;
}

.signinform-input input {
    padding-left: 2.2rem;
    border: 1px solid rgba(0, 0, 0, 0.1);
    outline: none;
}

.signinsection-heading {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: .7rem;
}

.signinalt-login {
    width: 80%;
    height: 3em;
    display: flex;
    gap: 1rem;
    justify-content: center;
}

.signin {
    background-color: #2979FF;
    border: none;
    width: 80%;
    padding: .7rem 0rem;
    color: white;
    border-radius: .5rem;
    cursor: pointer;
}

.signinmethod {
    display: flex;
   
}

.signinmethod button {
    border: none;
    outline: none;
    background: none;
    color: #2979FF;
    font-weight: 700;
}

.signinmethod p {
    font-weight: 600;
    color: rgba(0, 0, 0, 0.7);
}

.error {
    position: absolute;
    color: red; 
    font-size: .7rem;
    bottom: -1rem;
    gap: 1rem;
}

.signinforgot  p {
    font-size: .8rem;
    cursor: pointer;
}

.signinreg {
    cursor: pointer;
}

